# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.crash.log

# Terraform lock
!.terraform.lock.hcl

# AWS CLI
aws/
awscliv2.zip

# Secrets
.env
*.pem
*.key

# Editor
.vscode/
.idea/

# Claude Code
.claude/

# Serverkey
serverkey
serverkey.pub